.login-page-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.image-carousel-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
    /* Adjust the width as desired */
    height: 0vh;
    /* Adjust the height as desired */
  padding-top: 10px;
  z-index: 1;
  /* Add a higher z-index to make sure it's behind the form */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 90%;
  /* Adjust the height of the form container */
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  /* Add a higher z-index to make sure it's in front of the carousel */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tag-line {
  margin-bottom: 20px;
  text-align: center;
}

.login-form h1,
.login-form h2 {
  margin-top: 0px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form h1 {
  margin-bottom: 20px;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(45deg, #041E42, #00FFB0, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.errors {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ff0000;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

span {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="submit"]:hover {
  background-color: #555;
}
