.sidebarLinks {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    list-style: none;
    height: 100%;
  }

#links-container {
    background-color: rgb(88, 101, 210);
    width: 10%;
    height: 100vh;
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-evenly;
    top: 0; 
    left: 0; 
  }

  .sidebarLinks li {
    margin-bottom: 10px;
  }
  
  .sidebarLinks li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .sidebarLinks li a:hover {
    color: #0400ff;
  }
  
  .sidebarLinks li button {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .sidebarLinks li button:hover {
    color: #d503ff;
  }

 
  