.tracks {
  display: flex;
  height: 100vh;
  font-size: 1.5em; 
}

.tracks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.trending-title {
  margin-top: 0;
  padding: 0px;
  color: rgb(0, 76, 255);
  display: sticky;
  text-align: center; /* Center the text */
}

.main-content-tracks {
  /* background-color: #f2f2f2;  */
  padding: 20px;
  width: 100%;
}

.main-content-tracks-container {
  justify-content: center;
  margin-left: 10%;
}

  