.tracks-container {
  /* background-color: #0d1117; */
  color: #ffffff;
  padding: 20px;
}

.trending-title {
  margin-top: 0;
  margin-left: 45%;
  color: rgb(0, 76, 255);
  display: sticky;
  text-align: left;
}

.main-content-tracks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  justify-items: center;
  gap: 20px;
  width: 80%;
}

.main-content-tracks h2 {
  font-size: 18px;
  color: #ffffff;
}

.tracks {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}
.main-content-tracks-container{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

