/* TrackUpload.css */
.upload-track {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .upload-track input[type="text"],
  .upload-track input[type="file"],
  .upload-track input[type="submit"] {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  .errors {
    color: red;
    margin-bottom: 10px;
  }
  
  .track-preview, .previous-track {
    margin-bottom: 20px;
  }
  
  .track-preview h3, .previous-track h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
 