.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.follower-info {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.follower-info div {
  font-weight: bold;
  color: #333;
}


  
  .follower-info {
    display: flex;
    gap: 10px;
  }
  