/* ProfileHeader.css */

.profile-header {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 130px;
  width: 300px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.showPage-profilePageImg {
  position: fixed;
  /* margin-left: 20px; */
  /* top: -5; */
  bottom: 350px;
  margin-bottom: 65px;
  margin-left: 10px;
  /* transform: translate(10%, -170%); */
  /* margin-top: 100px; */
  width: 10%;
  border-radius: 150px;
  box-shadow: -.05rem 0 1rem #000;
}

.profile-info {
  margin-top: 220px;
  position: fixed;
  flex-direction: column;
}

.profile-info > * {
  margin-top: 100px;
  /* margin-bottom: 10px; */
}

.follower-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-top: 50px;
}

.follower-info button {
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: -20px;
}

.showUser-username {
  font-size: 40px;
  font-weight: bold;
  margin-top: -30px;
}

.showUser-location {
  margin-bottom: 30px;
  font-size: 30px;
}
/* 
.follower-info div {
  font-weight: bold;
  color: #333;
} */

.username-tracks-title {
  color: #1da1f2;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Additional styles for the profile page */
.profile-page-container {
  margin-top: 20px;
}

.profile-feed {
  margin-top: 20px;
}

.profile-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12.5%;
  height: calc(100vh - 260px);
  overflow-y: auto;
  width: 70%;
} 


.follow-status button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.follow-status button:hover {
  background-color: #e6e6e6;
  color: #555;
}

.post-modal button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-modal button:hover {
  background-color: #e6e6e6;
  color: #555;
}

.follow-listings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.track-filters {
  display: flex;
  gap: 10px;
}

.track-filters button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.track-filters button:hover {
  background-color: #e6e6e6;
  color: #555;
}


.username-tracks {
  margin: 20px auto;
  /* padding: 20px; */
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
}

/* Adjustments for responsive layout */
@media (max-width: 768px) {
  .profile-grid {
    margin-left: 5%;
  }
}

.track-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  position: absolute;
}

.track-filters button {
  /* padding: 8px 12px; */
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  margin-top: 5px;
  /* position: fixed; */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.track-filters button.active {
  background-color: #e6e6e6;
  color: #555;
}

.track-filters button:hover {
  background-color: #e6e6e6;
  color: #555;
}

/* For Follower/Following Modal */

.follow-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 999;

  align-items: center;
  justify-content: center;
}

.follow-modal-content {
  position: relative;
  z-index: 999;
  width: 375px;
  height: 420px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.image-container-showPage {
  position: fixed;
  margin-right: 10px;
}
.toggle-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  padding: 5px 10px;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button.active {
  background-color: #333;
  color: #fff;
}

.modal-body {
  height: 300px;
  overflow-y: scroll;
}

.followers-content,
.following-content {
  height: 100%;
}

/* Styling for the scrollbars */
.modal-body::-webkit-scrollbar {
  width: 8px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Styling for info box */
.followers-content-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.followers-content-box:hover {
  cursor: pointer;
}

.followers-content-img {
  max-width: 70px;
  margin-right: 30px;
  border-radius: 10px;
}

.followers-content-box-handle {
  font-size: 20px;
}
