/* ProfileHeader.css */

.profile-header {
  position: fixed;
  /* top: 0; */
  right: 0;
  bottom: 0;
  top: 170px;
  width: 300px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;  */
  align-items: center; 
  background-color: #f2f2f2;
  padding: 20px;
}

.showPage-profilePageImg {
  margin-left: 20px;
  width: 90%;
  border-radius: 150px;
  box-shadow: -.05rem 0 1rem #000;
}
/* 
.profile-header > * {
  margin-bottom: 10px;
} */

.profile-info > {
  display: flex;
  /* margin-top: 10px; */
  /* position: absolute; */
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  /* flex-s: end; */
  width: 500px; 
}

.profile-info > * {
  margin-bottom: 10px; 
}

.follower-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  gap: 10px;
  font-size: 14px;
}

.follower-info div {
  font-weight: bold;
  color: #333;
}

.username-tracks-title {
  color: #1da1f2;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Additional styles for the profile page */
.profile-page-container {
  margin-top: 20px;
}

/* .profile-header-main {
  position: sticky;
  top: 100;
  background-color: #f2f2f2;
  padding: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
} */

.profile-feed {
  margin-top: 20px;
}

.profile-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13%;
  /* margin-right: 10px; */
  /* margin-top: 75px; */
  height: calc(100vh - 300px);
  overflow-y: auto;
  /* margin-bottom: 20px; */
  /* padding-bottom: 20px; */
  width: 70%;
} 


.follow-status button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.follow-status button:hover {
  background-color: #e6e6e6;
  color: #555;
}

.post-modal button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-modal button:hover {
  background-color: #e6e6e6;
  color: #555;
}

.follow-listings {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.track-filters {
  display: flex;
  gap: 10px;
}

.track-filters button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.track-filters button:hover {
  background-color: #e6e6e6;
  color: #555;
}


.username-tracks {
  margin: 20px auto;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
}

/* Adjustments for responsive layout */
@media (max-width: 768px) {
  .profile-grid {
    margin-left: 5%;
  }
}

.track-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  position: absolute;
}

.track-filters button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.track-filters button.active {
  background-color: #e6e6e6;
  color: #555;
}

.track-filters button:hover {
  background-color: #e6e6e6;
  color: #555;
}
