/* TODO Add site wide styles */
form > .errors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    align-items: center;
  }

  .font-link {
    font-family: 'Outfit', sans-serif;
    }

  html {
    height:100%;
    width:100%;
    margin:0%;
    padding:0%;
    /* overflow-y: hidden; */
}

body {
  font-family: 'Outfit', sans-serif;

}
