/* reset.css */

/* Reset box-sizing to border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Reset list styles */
ol,
ul {
  list-style: none;
}

/* Add more reset styles as needed */
