   .header-container {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    padding: 50px;
    z-index: 999;
    margin-left: 10%;
    display: flex;
    margin-top: -20px;
  } 
  
  .header-index-banner {
    position: relative;
    transform: translate(195%, 0%);
    font-size: 30px;
  }
  
  .search-bar {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 25px;
    transform: translate(10%, -20%);
  }
  
  .search-bar p {
    margin: 0;
  }

  .mainfeed-city-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .mainfeed-city-filters button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 30px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .mainfeed-city-filters button:hover {
    background-color: #e6e6e6;
    color: #555;
  }
  