.header-container {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  padding: 20px 50px;
  z-index: 999;
  margin-left: 10%;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-index-banner {
  font-size: 30px;
  color: goldenrod;
}

.search-bar {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 25px;
}

.search-bar p {
  margin: 0;
}

.mainfeed-city-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.feed-type-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.mainfeed-city-filters button,
.feed-type-buttons button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 30px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mainfeed-city-filters button:hover,
.feed-type-buttons button:hover {
  background-color: #e6e6e6;
  color: #555;
}

#logo-header .logo {
  width: 150px;
  height: auto;
}

#logo-header {
  display: flex;
  align-items: center;
}

#logo-header span {
  margin-left: 20px;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(45deg, #041E42, #00FFB0, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo-header .meet-team {
  margin-left: 20px;
  font-size: 14px;
}

#logo-header .meet-team span {
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(45deg, #041E42, #ff9500, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
